@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.cards {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  -webkit-box-shadow: 0px 5px 20px -10px #111111;
          box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cards__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}

.cards__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.cards__type {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -48px;
  right: -0.1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
  margin-right: 6px;
  float: right;
}

.cards__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}

.cards__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.cards__stats {
  margin: 1em 0;
  width: 100%;
}

.cards__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}

.cards__stats th, .cards__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}

.cards__abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__ability {
  margin-top: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.cards--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  -webkit-box-shadow: 0px 5px 20px -10px #3A1C71;
          box-shadow: 0px 5px 20px -10px #3A1C71;
}

.cards--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  -webkit-box-shadow: 0px 5px 20px -10px #000851;
          box-shadow: 0px 5px 20px -10px #000851;
}

.cards--electric {
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}

.cards--fire {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #c71800), to(#fcc245));
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.cards--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}

.cards--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.cards--grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}

.cards--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}

.cards--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}

.cards:hover {
  z-index: 5;
  -webkit-box-shadow: 0px 13px 30px -15px #000000;
          box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.t_fire {
  background-color: #c71800;
}

.t_fairy {
  background: #ff8a95;
}

.t_ice {
  background: #6fb8eb;
}

.t_grass {
  background-color: #9bcc50;
}

.t_dark {
  background: #5c0249;
}

.t_psychic {
  background: #ff2cc3;
}

.t_electric {
  background-color: #eed535;
}

.t_water {
  background-color: #1CB5E0;
}

.t_normal {
  background-color: #a4acaf;
}

.t_poison {
  background-color: #b010b6;
}

.t_bug {
  background-color: #729f3f;
}

.t_ground {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f7de3f), color-stop(50%, #ab9842));
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
}

.t_flying {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3dc7ef), color-stop(50%, #bdb9b8));
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
}

.t_fighting {
  background-color: #d56723;
}

.t_rock {
  background-color: #a38c21;
}

.t_steel {
  background-color: #9eb7b8;
}

.t_ghost {
  background-color: #7b62a3;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #b9b9b9;
  position: relative;
  margin-bottom: .7em;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  float: left;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/*# sourceMappingURL=index.css.map */